// ============================================================================
// GermVarX - execution-parameters.config
// Defines container settings and execution options
// ============================================================================

params.noThreads = ""  // Number of threads for BWA-MEM2
params.shards = "" // Number of threads for CallDeepVariant
params.threads_haplotypeCaller = "" // Number of threads for gatk haplotypeCaller

// Executor configuration
process.executor = 'local' // Change to 'slurm' / 'pbs' / 'sge' / 'lsf' if on HPC

// Safe default parallelism for GermVarX
executor.queueSize = "" // Adjust: 2-4 (workstation), 10-20 (server), 50+ (HPC)

// Directory for Nextflow logs and reports
params.nextflowLogs = "./germvarx_info"

// ------------------------
// Docker setup
// ------------------------
docker {
	enabled = true
   temp = 'auto'
   runOptions = "-v ${projectDir}/script/:${projectDir}/script/ -v $params.refDir:/ref -u \$(id -u):\$(id -g)"     
}

// ------------------------
// Monitoring & reporting
// ------------------------

timeline {
	enabled = true
	file = "${params.nextflowLogs}/germvarx_timeline.html"
	overwrite = true
}

report {
	enabled = true
	file = "${params.nextflowLogs}/germvarx_report.html"
	overwrite = true
}

trace {
	enabled = true
              file = "${params.nextflowLogs}/germvarx_trace.txt"
	overwrite = true
}

dag {
	enabled = true
	file = "${params.nextflowLogs}/germvarx_dag.html"
	overwrite = true
}

logging {
    level = 'INFO'
    file = "${params.nextflowLogs}/nextflow.log"
}

// ------------------------
// Process-specific containers
// ------------------------

process {
    withLabel: 'germvarx' {
        container = 'germvarx-pipeline:0.1'
    }
    withLabel: 'plink' {
       container = 'quay.io/biocontainers/plink:1.90b6.21--h516909a_0'
    }
    withLabel: 'gatk' {
       container = 'broadinstitute/gatk'
    }
    withLabel: 'mosdepth' {
       container = 'quay.io/biocontainers/mosdepth:0.2.4--he527e40_0'
    }
    withLabel: 'deepvariant' {
       container = 'google/deepvariant:1.6.1'
    }
    withLabel: 'vep' {
       container = 'ensemblorg/ensembl-vep:release_114.1'
    }
    withLabel: "glnexus"{
       container = 'quay.io/biocontainers/glnexus:1.4.1--h17e8430_5'
    }
    // Example of overriding resources for a specific process
    withName: MarkDuplicates {
       cpus = 6
       memory = '12 GB'
    }
}
