// ============================================================================
// GermVarX - default.config
// Defines pipeline parameters (edit these according to your environment)
// ============================================================================

params.py_ABfilter = "${projectDir}/script/ABfilter.py" // AB filter script

// ------------------------------------------------------//
//         General pipeline settings	               //
// These parameters should be set via Nextflow CLI flags //
//         See README.txt for details	               //
// ------------------------------------------------------//
params.outputDir = "./output" 	// Output directory

// Toggle pipeline modes
params.single_sample_mode = false  // true = run per-sample mode
params.hard_filter = false	       // true = apply GATK HardFilter
params.use_genomicsdb = false      // true = use GenomicsDB for joint-calling

// Pipeline input files
// Either provide FASTQ input directory OR pre-processed BAM/GVCF/VCF
params.inputDir = ""      // Directory containing FASTQ files
params.allFastq = "$params.inputDir/*.{fastq,fq}{,.gz}"
params.reads = "$params.inputDir/*{_1,_2,R1,R2}.{fastq,fq}{,.gz}" // FASTQ files in format: filename{_1,_2,R1,R2}.{fastq,fq}{,.gz}

// Optional preprocessed input
params.inputBAM = ""	// Path to BAM (if starting from BAM)
params.inputGVCF_gatk = ""  // GATK GVCF file (if starting from joint calls)
params.inputGVCF_dv = ""   	// DeepVariant GVCF
params.inputVCF_gatk = ""	// GATK VCF
params.inputVCF_dv = ""	// DeepVariant VCF

// Output type (if want to stop pipeline early at BAM or GVCF stage)
params.output_type = "" // e.g. BAM / GVCF

// ------------------------------------------------------//
//         End general pipeline settings	               //
// ------------------------------------------------------//

// ----------------------------
// Metadata / read group info
// ----------------------------
params.readGroupLibrary = "WES" // Library type
params.readGroupPlatform = "ILLUMINA"
params.readGroupUnit = ""	    


// -----------------------------
// Reference genome & regions   
// -----------------------------

params.exomeRegionsBed = "" // Target capture BED file (if WES)

// Reference genome information
params.refDir = ""  // ReferenceDir
params.alignmentRef = "${params.refDir}/Homo_sapiens_assembly38.fasta"      // Reference genome FASTA


// Reference information for GATK
params.millsRef = "${params.refDir}/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz" 
params.dbSNPRef = "${params.refDir}/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
params.hapmapRef = "${params.refDir}/hapmap_3.3.hg38.vcf.gz"
params.omniRef = "${params.refDir}/1000G_omni2.5.hg38.vcf.gz"
params.Ref1kG = "${params.refDir}/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
params.knownIndels = "${params.refDir}/Homo_sapiens_assembly38.known_indels.vcf.gz"

// -----------------------------
// Variant annotation resources
// -----------------------------

params.vepCacheDir = ""  // VEP cache directory
params.pluginsDir = ""   // Directory with plugin resources
params.vepPluginsDir = "${params.pluginsDir}/VEP_plugins" 

params.dbNSFP = "${params.pluginsDir}/dbNSFP/dbNSFP5.1a_grch38.gz" 
params.gnomAD = "/home/gs_staff1/ref/gnomAD/gnomad.exomes.v4.1.sites.vcf.bgz" 
params.clinvar = "/home/gs_staff1/ref/plugins/clinvar/clinvar_20250608.vcf.gz"

params.caddIndel = "${params.pluginsDir}/InDels.tsv.gz"
params.caddsnvs = "${params.pluginsDir}/whole_genome_SNVs.tsv.gz"


// -----------------------------------------------
// HardFilter thresholds (if hard_filter = true)
// -----------------------------------------------
// INDEL filters
params.indelQUAL = "30.0"
params.indelINFO_QD = "2.0"
params.indelINFO_ReadPosRankSum = "-20.0"
params.indelINFO_FS = "200.0"

// SNP filters
params.snpQUAL = "30.0"
params.snpINFO_QD = "2.0"
params.snpINFO_MQ = "40.0"
params.snpINFO_ReadPosRankSum = "-8.0"
params.snpINFO_MQRankSum = "-12.5"
params.snpINFO_FS = "60.0"
params.snpINFO_SOR = "3.0"

// ------------------------
// Parallelism (forks)
// ------------------------
params.heavyFork = ""   // For computationally heavy steps
params.lightFork = ""   // For lighter steps
